#video-controls {
    --theme-color: blue;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--theme-color);
    font-family: sans-serif;
}

#progress-ctn {
    width: 100%;
    background: blue;
    height: 10px;
}

#progress-bar {
    height: 100%;
    width: 0;
    border-right: 1px solid greenyellow;
    box-sizing: border-box;
    background: yellow;
}

.skip-wrapper {
    display: flex;
    align-items: center;
}

#speed-ctn {
    list-style: none;
    margin: 0;
    padding: 0;
}

#speed-ctn > li {
    display: none;
    padding: 0.5em 1em;
}

#speed-ctn > li:hover {
    background: rgba(0,0,0, 0.3);
}

#speed-ctn.showing-options > li {
    display: block;
}

